<!doctype html>

<html lang="en">
<head>
<meta charset="UTF-8">
<title>Points Home Page</title>

<script src="http://www.d3plus.org/js/d3.js"></script>
<script src="http://www.d3plus.org/js/d3plus.js"></script>

<style>
#viz {
    height: 400px;
    width: 1200px;
}
</style>
</head>

<body>
<section>
Points is a game about collection
</section>
<div id="viz"></div>
<p id="demo"></p>
<p id="user_guess"></p>


<button onclick="guessTime()">Click me</button>
</body>
</html>


<script>
    var audio = new Audio('/static/metronome_beep.wav');
    var myVar = setInterval(myTimer, 1000);
    var second = 0
    var expected_guess_second = 0

    function myTimer() {
        var d = new Date();
        second = d.getSeconds();
        document.getElementById("demo").innerHTML = second;
        setTimeout(audio.play(), 0);
    }

    function updateExpectedGuessSecond() {
        expected_guess_second = second += 1
    }

    function guessTime() {
        var d = new Date();
        var guess = d.getMilliseconds();
        var guess_second = d.getSeconds();
        if (guess_second < expected_guess_second) {
            guess = guess - 1000
        }
        updateExpectedGuessSecond();

        document.getElementById("user_guess").innerHTML = guess;
        data.push({"second": Math.round(guess/100), "name":"alpha", "value": 1});
        visualization.data(data).draw();
    }

  var data = [
    {"second": -10, "name":"user", "value": 1},
    {"second": 0, "name":"user", "value": 1},
    {"second": 10, "name":"user", "value": 1},
  ]

  var visualization = d3plus.viz()
    .container("#viz")
    .data(data)
    .type("bar")
    .id("name")
    .x("second")
    .y("value")
    .draw()

var second = 1;
var value = 1;
function old() {
    data.push({"second": second, "name":"alpha", "value": value});
    value += 1;
    console.log(year);
    visualization.data(data).draw();
}

</script>